configuration {
	display-drun: "Apps";
	display-window: "Windows";
	drun-display-format: "{icon} {name}";
	font: "DejaVuSansM Nerd Font Propo 16";
	modi: "window,run,drun";
	show-icons: true;
	icon-theme: "Papirus";
}

@theme "theme/main.rasi"
