[Desktop Entry]
Name=Alacritty Telnet
Exec=/home/krem/.config/alacritty/alacritty-telnet.sh %u
Type=Application
Terminal=false
MimeType=x-scheme-handler/telnet;

